// Breakpoints
@import "../../breakpoints.scss";

.grandPrix {
  background-color: var(--neutral-200);
  border: var(--card-edge-border);
  border-radius: var(--rounded-md);
  box-shadow: var(--card-shadow);
  padding: 20px 16px;

  .heading {
    width: calc(100% - 135px);

    @media (min-width: $tablet-portrait) {
      width: 100%;
    }

    .round {
      color: var(--neutral-1100);
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }

    .thisWeek {
      background-color: var(--prim-100);
      border-radius: var(--rounded-md);
      color: var(--prim-800);
      font-size: 10px;
      line-height: 10px;
      padding: 4px 8px;
    }

    .name {
      color: var(--neutral-1400);
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      text-transform: uppercase;
    }

    .nameIcon {
      color: var(--prim-800);
      height: 23px;
      width: 9px;
    }

    .fullName {
      color: var(--neutral-1100);
      font-size: 12px;
      line-height: 12px;
      max-width: 203px;
    }

    .date {
      color: var(--neutral-1300);
      font-size: 12px;
      line-height: 12px;
    }
  }

  .mapWrapper {
    background-color: var(--prim-100);
    border-radius: var(--rounded-md);
    border: 0.4px solid var(--prim-200);
    height: 104px;
    padding: 12px 16px;
    width: 135px;

    @media (min-width: $tablet-portrait) {
      display: none;
    }
  }

  .preview {
    border-radius: var(--rounded-md);
    height: 152px;
    overflow: hidden;
  }

  .schedule {
    .scheduleDay {
      border-bottom: 1px solid var(--neutral-400);
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      padding-bottom: 8px;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    .event {
      color: var(--neutral-1400);
      width: 152px;
    }

    .dayTime {
      width: 151px;
    }

    .day {
      color: var(--neutral-1100);
    }

    .time {
      color: var(--neutral-1400);
    }
  }

  .bigMapWrapper {
    background-color: var(--prim-100);
    background-image: url("/Plus-Bg.png");
    border-radius: var(--rounded-md);
    border: 0.4px solid var(--prim-200);
    display: none;
    height: 132px;
    padding: 12px;
    width: 100%;

    @media (min-width: $tablet-portrait) {
      display: block;
    }
  }
}
